.App {
  text-align: center;
  background-color: #282c34;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #282c34;
}
.form-container, .big-container, .monitoring-container {
  width: 35rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: slategray;
  border-radius: 0.5rem;
  box-shadow: 0 25px -12px rgba(0,0,0,0.25);
}

.submit-button {
  margin-bottom: 2rem;
}

.q-box-container {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: black
}

.q-box {
  appearance: none;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  width: 90%;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.75rem;
  color: black;
  line-height: 1.25;
}

.csv-block{
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: black;
}

.submit-box{
  background-color: lightcyan;
  color: black;
  font-weight: bold;
  padding: .5rem .5rem;
  border-radius: 0.25rem;
  text-align: center;
}

.result-box {
  color: black;
  font-weight: bold;
}
.header {
  color: #7ae582;
}

.tot-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.tab-container {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  padding: 1%; /* Add padding for spacing */
  width: 30rem;

}


#form-button, #monitoring-button {
  flex: 1; /* Make both buttons take equal width */
  padding: 15px; /* Add padding for better visual appearance */
  border: none;
  cursor: pointer;
  background-color: rgb(192, 192, 186); /* Add background color */
  font-size: 15px; /* Adjust the font size */
  /* Add other styling properties as needed */
}


.active-tab {
  /* Add styles for the active tab */
  font-weight: bold;
  color: #333;
  background-color: #ddd;
}


#modelDropDown {
  padding: .5rem;
  background-color: #F3F3F3;
  font-weight: 500;
}

.ans-container {
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 2rem;
}

.title-monitor {
  text-align: center;
  color: #1a1b1e;
}

.chat-history-container {
  width: 35rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: rgb(184, 158, 158);
  border-radius: 0.5rem;
  box-shadow: 0 25px -12px rgba(0,0,0,0.25);
}

.chat-history-container h2 {
  color: white;
 
}

.chat-history-container ul {
  list-style-type: none;
  
}

.chat-history-container li {
  margin-bottom: 20px;
  
}

h4 {
  text-align: center;
  color: white;
}